{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College_placements</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
<header>
<h1>College Placements</h1>
<marquee width="" direction="" height="">
I have Performed Exploratory Data Analysis on College Placements Dataset and then created a Machie Learning Model to
 Predict whether a student will be placed or not.
</marquee>
</header>
<h1>Dataset Overview</h1>
<p>A University Announced Its On-Campus Placement Records For The Engineering Course. The Data Is From The Years 2013 And 2014.
The Following Is The College Placements Data Compiled Over 2 years.<br>
The Dataset has 8 columns:
</p>
<ul>
<li><b>Numeric Features:</b> Age, Internships, CGPA, Hostel, HistoryOfBacklogs, PlacedOrNot.</li>
<li><b>Categorical Features:</b> Gender, Stream</li>
</ul>
<img src="{% static 'Dataset.png' %}">
<a href="https://www.kaggle.com/tejashvi14/engineering-placements-prediction?select=collegePlace.csv" target="_blank">Dataset Link</a>
<h1>Exploratory Data Analysis</h1>
<p>After performing EDA on the Dataset we got following graphs and outcomes</p>
<figure>
<img src="{% static 'DensityPlot.png' %}">
<figcaption>Density and histogram plot on Age and CGPA column</figcaption>
</figure>
<ul>
<li>Mean CGPA of Students 7.073836817262306</li>
<li>Min age is 19 and maximum age is 30</li>
<li>Average age is 21</li>
</ul>
<figure>
<img src="{% static 'countPlot.png' %}">
<img src="{% static 'countPlot1.png' %}">
<figcaption>Count Plot</figcaption>
</figure>
<ul>
<li>Percentage of students residing in hostel 26.9%</li>
<li>Percentage of students Placed 55.26%</li>
<li>Percentage of students with backlog history 19.22%</li>
<li>Percentage of Students of who haven't done any internship 44.88</li>
</ul>
<figure>
<img src="{% static 'HeatMap.png' %}">
<figcaption>HeatMap</figcaption>
</figure>
<figure>
<img src="{% static 'BarPlot.png' %}">
<figcaption>Bar plot on column with respect to Gender</figcaption>
</figure>
<ul>
<li>Percentage of females getting placed 56.01%</li>
<li>Percentage of males getting placed 55.11%</li>
<li>Percentage of females residing in hostels 46.84%</li>
<li>Percentage of males residing in hostels 22.95%</li>
<li>Percentage of females getting backlog 16.9%</li>
<li>Percentage of males getting backlog 19.68%</li>
<li>Percentage of females getting internships 67.41%</li>
<li>Percentage of males getting internships 52.69%</li>
</ul>
<img src="{% static 'Internship_Gender.png' %}">
<ul>
<li>Percentage of candidates getting placed and previously done internships 60.1%</li>
<li>Percentage of candidates getting placed and haven't done internships 39.9%</li>
</ul>
<img src="{% static 'Hostel_Gender.png' %}"><img src="{% static 'History_of_Backlogs.png' %}">

<h1>Conclusions</h1>
<ul>
<li>Male candidates have more backlog than females</li>           
<li>Females have more tendency of getting internships</li>
<li>Meadian age of candidates getting placed 21.0</li>
<li>Day Scholars slightly higher chance of getting placed</li>
<li>Students from EC branch have the max chances of getting placed
followed by IT by a narrow margin and then CS and then Electrical.</li>
<li>Females have more tendency to stay in hostel than males</li>
<li>Doing internships increases your chance of getting placed</li>
<li>Chances of getting placed for females and males are almost same</li>
<ul>

<h1>Predict Your Chances</h1>
<form action="{% url 'result' %}",method="get">
{% csrf_token %}
  <div class="form-group">
    <label for="Age"><b>Age</b></label><br>
    <input type="number" id="Age" name="Age"><br>

    <p><b>Select Your Gender</b></p>
    <input type="radio" id="Female" name="Gender" value="M">
    <label for="Male">Male</label>
    <input type="radio" id="Female" name="Gender" value="F">
    <label for="Female">Female</label><br>
    {% comment %} <input type="text" id="Gender" name="Gender"><br> {% endcomment %}
    <p><b>Choose Your Stream</b></p>
    <input type="radio" id="Computer Science" name="Stream" value="Computer Science">
    <label for="Computer Science">Computer Science</label>
    <input type="radio" id="ECE" name="Stream" value="Electronics and communication">
    <label for="ECE">Electronics and communication</label>
    <input type="radio" id="Mechanical" name="Stream" value="Mechanical">
    <label for="Mechanical">Mechanical</label>
    <input type="radio" id="Electrical" name="Stream" value="Electrical">
    <label for="Electricsl">Electrical</label>
    <input type="radio" id="Civil" name="Stream" value="Civil">
    <label for="Civil">Civil</label><br>
    {% comment %} <input type="text" id="Stream" name="Stream"><br> {% endcomment %}
    <label for="Internship"><p><b>No. of Internships Done</b></p></label>
    <input type="number" id="Internship" name="Internship"><br>
    <label for="CGPA"><p><b>CGPA</b></p></label>
    <input type="number" id="CGPA" name="CGPA"><br>
    <p><b>Residing in Hostel or Not</b></p>
    <input type="radio" id="Yes" name="Hostel" value=1>
    <label for="Yes">Yes</label>
    <input type="radio" id="No" name="Hostel" value=0>
    <label for="No">No</label>
    <p><b>Backlogs or Not</b></p>
    <input type="radio" id="Yes" name="HistoryOfBacklogs" value=1>
    <label for="Yes">Yes</label>
    <input type="radio" id="No" name="HistoryOfBacklogs" value=0>
    <label for="No">No</label><br>
  <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>